//===============================================================================
// DEVICE LIST
//===============================================================================
.device-list {

}

.device-item {
  text-align: center;
}

.device-img {
  width: 10vw;
  height: 14vw;
}

.device-name {
  margin: 0;
}
