//===============================================================================
// TYPE
//===============================================================================
html,
body {
  background-color: $paper;
  color: $ink;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6,
strong, b {
  color: $ink-bold;
  font-weight: 700;
}

a {
  color: $primary;
}