//===============================================================================
// VARIABLES
//===============================================================================
$paper:  hsl(206, 40, 94);
$ink:    hsl(206, 20, 40);
$ink-bold: hsl(206, 50, 20);

$primary: hsl(206, 100, 39);

$grid-max: 40rem;